body {
  font-family: "Dosis", sans-serif;
  background-image: url("../img/clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: black;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-weight: 300;
  color: rgba(37, 36, 36, 0.4);
  font-size: 15px;
  line-height: 15px;
  list-style: none;
}

.weather-app-wrapper {
  max-width: 500px;
  margin: 50px auto;
}

.main-info {
  padding: 40px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
  background-color: white;
}
.units {
  text-align: right;
  font-weight: 400;
  font-size: 15px;
}

.icon {
  margin: 20px auto;
  text-align: center;
}

.temperature {
  text-align: right;
}

.main-info .active {
  color: black;
  cursor: default;
  text-decoration: none;
  font-weight: 600;
}

.main-info .link {
  text-decoration: none;
  color: black;
}

.weather-forecast {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  color: black;
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}

.forecast-temperature-min {
  color: rgba(37, 36, 36, 0.4);
}
